<div class="container" #container>
  <img src="../assets/logo.png" class="logo" />
  <form class="search-field" #searchbar>
    <mat-form-field id="search" appearance="outline">
      <mat-label>Wähle eine Stadt in NRW</mat-label>
      <input
        autofocus="autofocus"
        [formControl]="stadtInput"
        aria-label="Wähle eine Stadt"
        [matAutocomplete]="auto"
        matInput
        type="search"
      />
      <mat-autocomplete (optionSelected)="onSelectStadt()" #auto="matAutocomplete">
        <mat-option *ngFor="let stadt of filteredStaedte$ | async" [value]="stadt">
          {{ stadt }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <form
      *ngIf="httpAnswer$"
      class="typeSelectForm"
      [formGroup]="formGroup"
      (ngSubmit)="onTypeSelectSubmit()"
      ngNativeValidate
    >
      <mat-slide-toggle color="primary" formControlName="schooling">Bildungswesen</mat-slide-toggle>
      <mat-slide-toggle color="primary" formControlName="kindergarten"
        >Kindergarten</mat-slide-toggle
      >
      <mat-slide-toggle color="primary" formControlName="security">Sicherheit</mat-slide-toggle>
      <mat-slide-toggle color="primary" formControlName="government">Verwaltung</mat-slide-toggle>

      <!-- <button mat-raised-button type="submit">TEST</button> -->
    </form>
  </form>

  <div *ngIf="httpAnswer$ | async as data" [@inOutAnimation] class="solar-answer" #solarFacts>
    <p id="solar-introduction">
      Wenn alle öffentlichen Dachflächen in <span class="fact">{{ selectedStadt }}</span> mit Solarenergie
      ausgebaut werden, würden innerhalb eines Jahres:
    </p>

    <div class="antworten">
      <div class="mat-elevation-z2">
        <img src="../assets/leaf-solid.png" alt="Bild eines Blattes" />
        <span class="fact">{{ data?.co2Einsparung | number: '1.0-0' }} t</span> CO-2 gespart.
      </div>
      <div class="mat-elevation-z2">
        <img src="../assets/plug-solid.png" alt="" />
        <span class="fact">{{ data.anteil | number: '1.0-0' }} % </span> der Energie gedeckt.
      </div>

      <div class="mat-elevation-z2">
        <img src="../assets/coins-solid.png" alt="" />
        <span class="fact">{{ data?.kostenEinsparung | number: '1.0-0' }}€</span> gespart.
      </div>
    </div>

    <div id="moeglicheGebäude">
      <h3 class="mat-h3">Liste aller öffentlichen Gebäude mit geeigneten Dachflächen</h3>
      <ul>
        <div class="collabsible" *ngFor="let b of data.buildings">
          <mat-accordion *ngIf="b.name">
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <!-- Header -->
                {{ b.name }}
              </mat-expansion-panel-header>
              <!-- Content -->
              <div class="collabse-container" *ngIf="b.modarea">
                Geeignete Dachfläche: <span class="hint"> {{ b.modarea }} m²</span>
              </div>
              <div class="collabse-container" *ngIf="b.anzahl_0">
                Anzahl möglicher Solarmodule: <span class="hint"> {{ b.anzahl_0 }}</span>
              </div>
              <div class="collabse-container" *ngIf="b.str_17">
                Möglicher Stromertrag: <span class="hint"> {{ b.str_17 }} kWh/a</span>
              </div>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
      </ul>
    </div>
  </div>
</div>
