<div class="container" #container>
  <form class="search-field" #searchbar>
    <mat-form-field id="search" appearance="outline">
      <mat-label>Suche nach einer Stadt in NRW</mat-label>
      <input
        [formControl]="stadtInput"
        aria-label="Suche eine Stadt"
        [matAutocomplete]="auto"
        matInput
        (submit)="onSelectItem()"
        type="search"
      />
      <mat-autocomplete (optionSelected)="onSelectItem()" #auto="matAutocomplete">
        <mat-option
          *ngFor="let stadt of filteredStaedte | async"
          [value]="stadt"
        >
          {{ stadt }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>

  <div class="solar-answer hidden" #solarFacts>
    <p id="introduction-tag">
      Wenn alle Dachflächen in {{ selectedStadt }} mit Solarenergie ausgebaut
      werden, könnten:
    </p>
    <p id="calculation"><span>3,5t</span> CO-2 eingespart werden.</p>
    <p id="calculation">
      <span>75%</span> der benötigten Energie aus Solarstrom hergestellt werden.
    </p>

    <p id="calculation">
      Strom im Wert von <span>125.123€</span> durch Sonnenenergie hergestellt
      werden.
    </p>

    <button mat-button (click)="reset()">reset</button>
  </div>
</div>
