@import '../styles.scss';
.main-frame {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  width: 90%;
  margin: auto;
}

.search-field {
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#introduction-tag {
  margin-top: 4rem;
}

#calculation {
  span {
    font-size: x-large;
    font-weight: 600;
    color: $primary;
  }
}
