<div class="container" #container>
  <form class="search-field" #searchbar>
    <mat-form-field id="search" appearance="outline">
      <mat-label>Wähle eine Stadt in NRW</mat-label>
      <input
        autofocus="autofocus"
        [formControl]="stadtInput"
        aria-label="Wähle eine Stadt"
        [matAutocomplete]="auto"
        matInput
        type="search"
      />
      <mat-autocomplete (optionSelected)="onSelectStadt()" #auto="matAutocomplete">
        <mat-option *ngFor="let stadt of filteredStaedte$ | async" [value]="stadt">
          {{ stadt }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
      <form
        class="typeSelectForm"
        [formGroup]="formGroup"
        (ngSubmit)="onTypeSelectSubmit()"
        ngNativeValidate
      >
        <mat-slide-toggle color="primary" formControlName="schooling">Bildungswesen</mat-slide-toggle>
        <mat-slide-toggle color="primary" formControlName="kindergarten">Kindergarten</mat-slide-toggle>
        <mat-slide-toggle color="primary" formControlName="security">Sicherheit</mat-slide-toggle>
        <mat-slide-toggle color="primary" formControlName="government">Verwaltung</mat-slide-toggle>

        <!-- <button mat-raised-button type="submit">TEST</button> -->
      </form>
  </form>

  <div *ngIf="httpAnswer$ | async as data" [@inOutAnimation] class="solar-answer" #solarFacts>
    <p id="solar-introduction">
      Wenn alle Dachflächen in <span>{{ selectedStadt }}</span> mit Solarenergie ausgebaut werden,
      würde innerhalb eines Jahres:
    </p>
    <!-- {{data | json}} -->
    <p class="flex-right">
      <span>{{ data?.co2Einsparung | number: '1.0-0' }} t</span> CO-2 eingespart werden.
    </p>
    <p class="flex-left">
      <span>{{ data.anteil | number: '1.0-0' }} % </span> der benötigten Energie aus Solarstrom
      hergestellt werden.
    </p>

    <p class="flex-right">
      Strom im Wert von <span>{{ data?.kostenEinsparung | number: '1.0-0' }}€</span> durch
      Sonnenenergie hergestellt werden.
    </p>

    <div id="moeglicheGebäude">
      <p>Liste aller öffentlichen Gebäude mit geeigneten Dachflächen</p>
      <ul>
        <li *ngFor="let b of data.buildings">{{ b.name }}</li>
      </ul>
    </div>
  </div>
</div>
