@import '../styles.scss';

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.hidden {
  opacity: 0;
  transition: opacity 1s;
}

.container {
  display: flex;
  height: 100%;
  max-width: 1200px;
  width: 80%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.search-field {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  font-size: larger;
  #search {
    width: 100%;
  }
}

.solar-answer {
  display: flex;
  flex-direction: column;
  font-size: large;
  gap: 15px;
  margin-top: 4rem;
  p {
    line-height: initial;
    width: 60%;
  }

  .flex-right {
    align-self: flex-end;
    text-align: right;
  }

  .flex-left {
    align-self: flex-start;
    text-align: left;
  }

  span.fact {
    font-size: xx-large;
    font-weight: 600;
    color: $primary;
  }

  #solar-introduction {
    width: 100%;
  }
}

.typeSelectForm {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.collabsible {
  margin-bottom: 10px;
}

span.hint {
  font-size: x-large;
  font-weight: 500;
}

#moeglicheGebäude {
  margin-top: 20px;
  h3 {
    font-size: large;
  }
}
