
@use '~@angular/material' as mat;

@include mat.core();
$md-geeks: (
  50: #e3fcf5,
  100: #b9f6e5,
  200: #8af1d4,
  300: #5bebc2,
  400: #37e6b5,
  500: #14e2a8,
  600: #12dfa0,
  700: #0eda97,
  800: #0bd68d,
  900: #06cf7d,
  A100: #f7fffc,
  A200: #c4ffe4,
  A400: #91ffcd,
  A700: #78ffc2,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);

$primary: #06cf7d;

/* ======== Angular material custom themes ======== */
$my-custom-primary: mat.define-palette($md-geeks);
$my-custom-accent: mat.define-palette(mat.$pink-palette, 100, 500, A100);
$my-custom-warn: mat.define-palette(mat.$pink-palette);

$my-custom-theme: mat.define-light-theme(
  $my-custom-primary,
  $my-custom-accent,
  $my-custom-warn
);

@include mat.all-component-themes($my-custom-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
